@font-face {
    font-family: Poppins-Regular;
    src: url('../fonts/poppins/Poppins-Regular.ttf'); 
  }
  
  @font-face {
    font-family: Poppins-Medium;
    src: url('../fonts/poppins/Poppins-Medium.ttf'); 
  }
  
  @font-face {
    font-family: Poppins-Bold;
    src: url('../fonts/poppins/Poppins-Bold.ttf'); 
  }
  
  @font-face {
    font-family: Poppins-SemiBold;
    src: url('../fonts/poppins/Poppins-SemiBold.ttf'); 
  }
  
  .body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0;
    padding-top: 50px;
  }
  
  .perfil {
    background-color: #fff;
    max-width: 430px;
    margin: 0 auto;
    padding: 20px;
    border: 4px solid #ffc107;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .perfil h1 {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .field {
    margin-bottom: 10px;
    padding: 5px;
    font-size: 13px;
    background-color: rgba(255, 253, 253, 0.8);
    border: 1px solid #cfc5c5;
    border-radius: 5px;
  }
  
  .field span {
    font-size: 16px;
    color: #666;
    display: block;
    margin-top: 5px;
  }
  
  details summary {
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: normal;
  }
  
  details {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
  }
  
  details {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 10px; 
  }
  details p {
    font-size: 13px;
    color: #666;
    margin-left: 0;
    margin-top: 5px;
  }
  
  @media (max-width: 600px) {
    /* Estilos para telas menores */
    details {
      grid-template-columns: 1fr; /* Uma coluna em telas menores */
    }
  }
  
  .perfil .field {
    width: calc(100% - 42px); 
    margin-right: auto;
    margin-left: auto;
  }