body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0;
  }
  
  .perfil {
    background-color: #fff;
    max-width: 450px;
    margin: 0 auto;
    padding: 50px;
    border: 4px solid #ffc107;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .perfil h1 {
    font-size: 28px;
    color: #000000;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Poppins-Bold';
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  .field {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
  
  .field input {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #c7c4c4;
    border-radius: 6px;
    color: #000000;
    transition: border-color 0.3s;
  }
  
  .field input::placeholder {
    color: #000000;
    font-family: 'Poppins';
  }
  
  .field input:focus {
    outline: none;
    border-color: #000000; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }
  
  .details {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  
  details summary {
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: normal;
  }

  .button-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  
  .button-container input[type="button"] {
    padding: 10px 20px;
    font-size: 14px;
    font-family: 'Poppins';
    border: none;
    border-radius: 25px;
    cursor: pointer;
    background-color: #ffc107;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .button-container input[type="button"]:hover {
    background-color: #ecb911;
    color: black;
  }
  

  @media (max-width: 600px) {
    .perfil {
      max-width: 380px;
      margin: 0 auto;
      padding: 20px;
      border-radius: 15px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    
  
  }
  